body {
    background: url(59H-from-gratisography.JPG);
    color: white;
    font-family: 'Century Schoolbook', sans-serif;
    overflow-x: hidden;
    font-size: 20px;
}

.fieldset {
    width: 320px;
    height: 450px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    top: 50%;
    right: 15%;
    position: absolute;
    transform: translate(-20%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    opacity: 0.8;
}


.content-section{
    background-color: black;
}

.title{
    font-family: "Copperplate Gothic Bold";
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem .1rem black;
    padding-top: 2rem;
    color: white;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .3rem 1.3rem;
    background-color: #4b515d;
    border-color: #4b515d;
    font-family: "Copperplate Gothic Bold";
    position: relative;
    left: 5%;
}

