body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url(59H-from-gratisography.JPG);
    font-family: 'Century Schoolbook', sans-serif;
    overflow-x: hidden;
    color: black;
}

h1{
    font-family: "Britannic Bold";
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem .1rem black;
    padding-top: 2rem;
    color: white;
}

h2{
    font-family: "Copperplate Gothic Bold";
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem .1rem black;
    padding-top: 2rem;
    color: white;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 20px;
}


.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    font-family: sans-serif;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #A9A9A9;
}


.strike > span:before {
    right: 100%;
    margin-right: 15px;
}


.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.login-box p {
    margin: 0;
    padding: 0;
    color: black;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}


.login-box input[type="text"], input[type="password"] {
    border: black;
    background: transparent;
    outline: black;
    height: 40px;
    color: grey;
    font-size: 16px;
}


.login-box input[type="submit"] {
    border: black;
    outline: black;
    height: 40px;
    background: black;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: black;
    color: black;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.login-box a:hover {
    color: black;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .3rem 1.3rem;
    background-color: #4b515d;
    border-color: #4b515d;
}

.fa {
    color: #4b515d;
    text-align: center;
}

.fa:hover {
    color: black;
}

