<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% block content %}
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Delete Post</legend>
                            <h3>Confirm delete post "{{ object.title }}"</h3>
                    </fieldset>
                    <div class="form-group">
                        <button type="submit">Delete</button>
                        <a href="{% url 'post-detail' object.id %}" >Cancel</a>
                    </div>
                </form>
            </div>


        {% endblock content %}
</body>
</html>