<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <link rel="stylesheet" href={% static "/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "../static/post.css" %}>
</head>
<body>
    <div class="previous">
        <a class="btn btn-outline-light btn-lg" href={{ back_link }}>Back</a>
        <p class="authorStyle">
            <a class="mr-2" href='{% url 'profile-view' object.author.username %}'>{{ object.author }}</a>
        </p>
        <p class="date">{{ object.date_posted|date:"F d, Y" }}</p>
    </div>

    <div class="media-body">
        <div class="article-metadata">
            <p class="picture-title">{{ object.title }}</p>

        </div>
        <div class="post picture">
        <p class="article-content">{{ object.content }}</p>
        <img class="img" src="{{ object.image.url }}">
        </div>
    </div>

<!--    <button class="btn btn-outline-light btn-lg">{% if object.author_id in following %}
        <a href="{% url 'post-detail' object.id %}unfollow">Unfollow</a>{% else %}
        <a href="{% url 'post-detail' object.id %}follow">Follow</a>{% endif %}</button>-->

    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <div class="content">{{ comment.comment }}</div>
                <br>
                <div class="comment_time"><a href="#" class="usr">{{ comment.username }}</a>{{ comment.comment_time }}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

    <form method="POST" action="/post/{{ object.id }}/comment" class="comment_form">
        {% csrf_token %}
        <textarea name="comment" placeholder="comment"></textarea>
        <br>
        <button class="btn btn-outline-light btn-lg">Comment</button>
    </form>
    <br>
</body>
</html>