<!DOCTYPE html>
<html lang="en">
<head>
   <title> Instagram </title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static '/styleUpdated.css' %}" />
</head>
<body>
    <p style="font-size: xx-large; color: white;">You have been successfully logged out!</p>
    <a class = "btn btn-outline-info" href="{% url 'login' %}">Login?</a>
</body>
</html>