<!DOCTYPE html>
<html lang="en">
<head>
    <title> Instagram </title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}"/>
</head>
<body>
<div class="col-md-12 text-center">
    <h2>You have been successfully logged out!</h2>
    <a class="btn btn-outline-light btn-lg" href="{% url 'login' %}">Login?</a>
</div>

</body>
</html>
